html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;

}
paper-scroll-header-panel {
    height: 100%;
}

paper-toolbar #topBar {
    padding-left: 8px;
    padding-right: 12px;
}

strapieno-user-avatar#logged-avatar {
    cursor: pointer;
}

.height100 {
    height: 100%;
}

.text-align-center {
    text-align: center;
}

.error {
    display: inline-block;
    color: #dd2c00;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.011em;
    line-height: 20px;
}

#login-box {
    min-width: 300px;
}

#refresh-button {
    margin-right: 20px;
}